@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
.all-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 0px;
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.heading h1 {
  font-size: 5rem;
  text-transform: capitalize;
  text-align: center;
}
.heading p {
  text-align: center;
  color: #828282;
}
.Home-btn {
  width: 400px;
  height: 40px;
  font-size: 22px;
  text-decoration: none;
  gap: 10px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  margin: 15px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.Home-btn:hover {
  background-color: gainsboro;
  color: black;
  border: 2px solid grey;
}
.Home-btn-2 {
  width: 400px;
  height: 40px;
  font-size: 22px;
  text-decoration: none;
  gap: 10px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  background-color: black;
  border: 2px solid black;
  color: white;
}
.Home-btn-2:hover {
  background-color: gainsboro;
  color: black;
  border: 2px solid grey;
}
@media only screen and (max-width: 768px) {
  .heading h1 {
    font-size: 4rem;
    text-transform: capitalize;
    text-align: center;
  }
  .heading p {
    text-align: center;
    color: #828282;
  }
  .Home-btn {
    width: 300px;
    height: 40px;
    font-size: 22px;
    text-decoration: none;
    gap: 10px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    margin: 15px;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .Home-btn:hover {
    background-color: gainsboro;
    color: black;
    border: 2px solid grey;
  }
  .Home-btn-2 {
    width: 300px;
    height: 40px;
    font-size: 22px;
    text-decoration: none;
    gap: 10px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background-color: black;
    border: 2px solid black;
    color: white;
  }
  .Home-btn-2:hover {
    background-color: gainsboro;
    color: black;
    border: 2px solid grey;
  }
}

@media only screen and (max-width: 365px) {
  .heading h1 {
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
  }
  .heading p {
    text-align: center;
    color: #828282;
  }
  .Home-btn {
    width: 300px;
    height: 40px;
    font-size: 22px;
    text-decoration: none;
    gap: 10px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    margin: 15px;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .Home-btn:hover {
    background-color: gainsboro;
    color: black;
    border: 2px solid grey;
  }
  .Home-btn-2 {
    width: 300px;
    height: 40px;
    font-size: 22px;
    text-decoration: none;
    gap: 10px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background-color: black;
    border: 2px solid black;
    color: white;
  }
  .Home-btn-2:hover {
    background-color: gainsboro;
    color: black;
    border: 2px solid grey;
  }
}
