.main-new-Thicket {
  display: flex;
  justify-content: center;
  color: #142c54;
}

.my-tickets-loading {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.new-ticket-back {
  position: absolute;
  width: 97%;
  display: flex;
  justify-content: flex-end;
}
.new-Ticket > h1 {
  text-transform: capitalize;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  text-align: center;
}
.new-Ticket > h2 {
  text-transform: capitalize;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: #828282;
}

.NT-boxes-solo {
  max-width: 100%;
  display: flex;
}
.all-NT-input-solo {
}

.NT-box > input {
  flex-grow: 1;
}

.year {
  flex-grow: 1;
}
textarea {
  resize: none;
  height: 60px;
}
.new-Ticket-btn-box {
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .new-Ticket {
    margin: 10px;
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 5px;
    outline: 1px solid #142c54;
    position: relative;
    width: 750px;
  }

  .NT-box-solo {
    flex-grow: 1;
  }
  .NT-boxes {
    width: fit-content;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .NT-box {
    margin: 10px;
    width: 33%;
    display: flex;
    flex-direction: column;
  }

  .NT-box > input {
    flex-grow: 1;
  }

  #purchase_date {
    min-height: 25px;
    background-color: white;
    min-width: 96%;
  }
}
@media only screen and (max-width: 768px) {
  .new-Ticket {
    margin: 10px;
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 5px;
    outline: 1px solid #142c54;
    position: relative;
    width: 95%;
  }

  .all-NT-input {
  }
  .new-Ticket > h1 {
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    text-align: center;
  }
  .NT-boxes-solo {
    width: 100%;
  }
  .NT-box-solo {
    width: 100%;
  }
  .NT-boxes {
  }
  .NT-box {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  .NT-box > input {
    flex-grow: 1;
  }

  #purchase_date {
    min-height: 25px;
    background-color: white;
    min-width: 96%;
  }
}
@media only screen and (max-width: 499px) {
  .new-Ticket > h1 {
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    text-align: left;
  }
}
